---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>FAA Cloud Services Playbook</title>
    <meta charset='UTF-8' />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <link rel='shortcut icon' href='{{site.baseurl}}/assets/images/favicon.ico' type='image/x-icon' />
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon-16x16.png" sizes="16x16" />
    <link href='{{site.baseurl}}/assets/css/styles.css' rel='stylesheet' />
</head>

<body>

    <div id="navigation_bar">
        <div class="outer_container">
            <div class="inner_container">

                <a href="#introduction"><h3>FCS Playbook</h3></a>
                <ul class="nav">
                    {% for play in site.plays %}
                    <li class="play_square"><a href="#play{{ play.playid }}" title="View Play {{ play.playid ]}}: {{ play.title }}">{{ play.playid }} </a></li>
                    {% endfor %}
                </ul>
                <div id="menu_icon">
                    <a href="#plays_index_anchor" title="Return to Index"></a>
                </div>
            </div>
        </div>
    </div>

    <div id="introduction">
        <div class="outer_container">
            <div class="inner_container">
                <a id="faa_logo" href="http://www.faa.gov/" title="Link to the Federal Aviation Administration"><img src='{{site.baseurl}}/assets/images/FAA-logo.svg' alt="Logo of the Federal Aviation Administration"></a>
                {% capture introduction %}{% include introduction.md %}{% endcapture %} {{ introduction | markdownify }}
                <!--{% capture background %}{% include background.md %}{% endcapture %}
      {{ background | markdownify }}
      {% capture purpose %}{% include purpose.md %}{% endcapture %}
      {{ purpose | markdownify }}-->
                <div class="button">
                    <a href="#trimodal_index_anchor" title="Think Tri-modally">Think Tri-modally</a>
                </div>
                <div class="button">
                    <a href="#plays_index_anchor" title="View the Plays">See the plays</a>
                </div>
                <div class="button">
                    <a href="https://github.com/faacloudservices/playbook#readme" title="Visit Github to Improve This Content">Help improve this content</a>
                </div>
            </div>
        </div>
    </div>

    <div id="trimodal">
        <div class="outer_container">
            <div class="inner_container">
                <a class="anchor_offset" id="trimodal_index_anchor"></a>
                {% capture trimodal %}{% include trimodal.md %}{% endcapture %} {{ trimodal | markdownify }}
                <div class="button">
                    <a href="#plays_index_anchor" title="View the Plays">See the plays</a>
                </div>
            </div>
        </div>
    </div>

    <div id="plays_index">
        <div class="outer_container">
            <div class="inner_container">
                <a class="anchor_offset" id="plays_index_anchor"></a>

                <h2>Low Gear</h2>
                <div class="columns">
                    <ol>
                        {% for play in site.plays %} {% if (play.gear == 'low') %}
                        <li value={{ play.playid }}><a href="#play{{ play.playid }}" title="View Play {{ play.playid }}">{{ play.title}}</a></li>
                        {% endif %} {% endfor %}
                    </ol>
                </div>

                <h2>Medium Gear</h2>
                <div class="columns">
                    <ol>
                        {% for play in site.plays %} {% if (play.gear == 'medium') %}
                        <li value={{ play.playid }}><a href="#play{{ play.playid }}" title="View Play {{ play.playid }}">{{ play.title }}</a></li>
                        {% endif %} {% endfor %}
                    </ol>
                </div>

                <h2>High Gear</h2>
                <div class="columns">
                    <ol>
                        {% for play in site.plays %} {% if (play.gear == 'high') %}
                        <li value={{ play.playid }}><a href="#play{{ play.playid }}" title="View Play {{ play.playid }}">{{ play.title }}</a></li>
                        {% endif %} {% endfor %}
                    </ol>
                </div>

                <div class="button">
                    <a href="#play1" title="View the Plays In Detail">In detail</a>
                </div>
            </div>
        </div>
    </div>

    <div id="plays" class="outer_container">
        {% for play in site.plays %}
        <div class="inner_container">
            <a class="anchor_offset" id="play{{ play.playid }}"></a>
            <h6>{{ play.gear }} gear: play {{ play.playid }}</h6>
            <h2 class="display">{{ play.title }}</h2> {{ play.output }}
        </div>
        {% endfor %}
    </div>

    <script src='{{site.baseurl}}/assets/js/jquery-1.11.1.min.js'></script>
    <script src='{{site.baseurl}}/assets/js/scrollspy.js'></script>
    <script src='{{site.baseurl}}/assets/js/site.js'></script>
</body>

</html>